@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 94%);
    --hover: hsl(0, 0%, 80%);
    --h-header: 3rem;
    --shadow-general: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --z-header-nav: 1000;
    --z-handle-icon-navbar: 2000;
    --z-content-cart: 3000;
    --z-modalproduct: 4000;
}

body.dark {
    --first-color: hsl(260, 72%, 54%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(261, 33%, 16%);
    --hover: hsl(246, 16%, 12%);
    --container-color: hsl(263, 18%, 32%);
    --border-color: hsl(0, 0%, 20%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: var(--body-color);
    transition: color .5s, background-color .5s;
}
img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none
}



/* ----------------------    PRECARGA    ---------------------------*/

.precarga svg {
    width: 120px;
    height: 120px;
    animation: precar 1s;
    fill: var(--first-color);
}

.precarga {
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes precar {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
    
}





/*---------------------  HEADER  ------------------------*/

header {
    height: 50px;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    transition: background-color .5s, height .5s, box-shadow .5s;
}

header > nav {
    background-color: transparent;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header > nav > i {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

.bx-cart {
    position: relative;
}
.bx-moon, .bx-cart, .bx-menu {
    font-size: 1.3rem;
    cursor: pointer;
}

.amountProducts {
    width: 18px;
    height: 18px;
    font-size: .6rem;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:  -.5rem;
    top: 10px;
}

.log__nav {
    display: flex;
    align-items: center;
}
.icon-logo {
    fill: var(--first-color);
    width: 50px;
}

.log__nav span {
    color: var(--title-color);
    font-weight: 700;
}

.bx-menu {
    display: none;
}

.menu__nav {
    background-color: var(--container-color);
    position: fixed;
    left: 110%;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left .5s
}

.icon__nav {
    display: flex;
    gap: .4rem;
}

.nav__ {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.nav__show {
    background-color: var(--container-color);
    height: calc(var(--h-header + 1rem));
    box-shadow: var(--shadow-general);
}




/*----------------------   Container   -------------------------*/



.casa {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
}

.img-header-home {
    align-items: center;
    display: flex;
    background-color: var(--first-color);
    height: 630px;
    width: 355px;
}

.conte {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
}

.title__conte {
    color: var(--title-color);
    font-size: 3rem;
}


.price__conte {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    color: var(--first-color);
}
.parrafo {
    color: var(--text-color-light)
}


.content_products {
    padding: 10rem 2rem;
}

.filtros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
.btn__more {
    padding: 15px 30px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: var(--button-color);
    font-weight: 500;
    text-decoration: none;
    place-self: baseline;
}

.filtro {
    cursor: pointer;
    text-align: center;
    color: var(--text-color-light);
    transition: background-color 0.3s;
    padding: .6rem;
}


.filtro:hover {
    background-color: var(--button-color);
}


.filtro>p:nth-child(1) {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
}

.filtro>p:nth-child(2) {
    font-size: .8rem;
    color: var(--text-color-light);
}

.filtro:hover p {
    color: white;
}

.filtro--activo {
    color: white;
    background-color: var(--button-color);
}

.filtro--activo>p:nth-child(1) {
    color: #ffffff;
}

.filtro--activo>p:nth-child(2) {
    color: #ffffff;
}







/*---------------------  PRODUCTS  ------------------------*/



.products {
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1024px;
    gap: 2rem;
    margin: 0 auto;
}

.product {
    box-shadow: var(--general-shadow);
    border-radius: 1rem;
}

.product__img img {
    transition: transform .3s;
}

.product:hover img {
    transform: translateY(-12px);
    
}

.product:hover .product__img{
    background-color: var(--hover);
}


.product__img {
    padding: 1rem;
    background-color:var(--card-color); 
    transition: background-color .3s;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.product__info {
    padding: 1.6rem;
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    min-height: 120px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
   
}

.product__info .soldOut {
    background-color: var(--first-color);
    color: var(--title-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
}

.product__info h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--title-color);
}

.product__info>h4:hover{
    color: var(--first-color);
}

.product__info h4 {
    font-weight: 500;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

.stock {
    color: var(--text-color-light);
}

.product__info span {
    font-size: .8rem;
}

.product__info .bx-plus {
    background-color: var(--container-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: .5rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
    top: -1rem;
    right: 1.2rem;
    transition: background-color .3s;
}

.product__info .bx-plus:hover {
    background-color: var(--first-color);
}


/*-----------------------  MODAL  -----------------------------*/

.modal {
 
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 1rem;
    background-color: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product__modal {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 400px;
    background-color: var(--container-color);
}

.modal--show {
    visibility: visible;
    opacity: 1;
}

.close {
    top: .8rem;
    font-size: 2.2rem;
    right: .8rem;
    cursor: pointer;
    position: absolute;
}


.modal--name {
    color: var(--title-color);
    padding: 0 .8rem;
}

.modal--p {
    padding: 0 .8rem;
    font-size: .8rem;
    color: var(--text-color-light);
}

.modal--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140%;
    height: 60px;
    padding: .8rem;
}

.modal--info .bx-plus {
    background-color: var(--button-color-alt);
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: .5rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color .3s;
}
.modal--info .bx-plus:hover {
    background-color: var(--first-color);
}

.modal--info .soldOut {
    background-color: var(--first-color);
    color: var(--title-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
}

.modal--info h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--title-color);
}

.modal--info .stock {
    padding: 0;
}




/*---------------------  CART  ------------------------*/


.cart {
    height: 100vh;
    width: 400px;
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    right: -100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

    transition: right .3s;
}
.cart .bx-x {

    font-size: 1.5rem;
    position: absolute;
    top: .6rem;
    right: .5rem;
    cursor: pointer;
    color: var(--title-color)
}

.cart__show {
    right: 0;
}

.cart__products {
    height: 100vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart__product {
    padding: 1rem;
    display: flex;
    align-items: center;

}

.cart__product--img {
    width: 40%;
    border: 1px solid lightcoral;
    border-radius: 1rem;
    background-color: var(--card-color);
}

.cart__product--body {
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.cart__product--body-op {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cart__product--body-op .bx-trash {
    color: lightcoral;
}

.cart__product--body-op i {
    cursor: pointer;
}

.cart__total {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.cart__total--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn__buy {
    padding: .5rem;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}


/*--------------------   FOOTER  ----------------------------*/



.footer_contain {
    display: flex;
    width: 100%;
    background-color: var(--card-color);
    justify-content: space-evenly;
    padding: 4rem 2rem;
}

.footer_contain h3 {
    color: var(--title-color);
    padding: 1rem 0;
}

.footer_contain ul {
    list-style: none;
}

.footer_contain a {
    text-decoration: none;
    color: var(--text-color-light);
}

.footer_link-social {
    display: flex;
    gap: .5rem;
}

.bxl-linkedin, .bxl-instagram, .bxl-facebook {
    font-size: 1.5rem;
    color: var(--first-color);
}
.by {
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 5rem;
}

.by p {
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem;
    width: 80%;
    text-align: center;
    border-radius: .5rem;
    
}

.by a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}





@media (max-width: 500px) {
    .cart {
        width: 100%;
    }
}